/*-- scss:defaults --*/
// bootstrap variable overrides go here //
/*-- scss:rules --*/


// left align captions //
.quarto-table-caption {
    text-align: left;
}

// edit inline code // 
code {
    color: #e83e8c;
    background-color: #f8f9fa;
    padding: 2px 4px; 
    border-radius: 4px; 
    font-family: monospace
}

